[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/jsphuebner/libopencm3
[submodule "libopeninv"]
	path = libopeninv
	url = https://github.com/jsphuebner/libopeninv.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
